# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example

# generated native folders
/ios
/android/*
!/android
!/android/app
/android/app/*
!/android/app/build.gradle
!/android/app/proguard-rules.pro
!/android/app/src
!/android/app/src/**
!/android/build.gradle
!/android/gradle.properties
!/android/settings.gradle
!/android/gradlew
!/android/gradlew.bat
!/android/gradle
/android/gradle/*
!/android/gradle/wrapper
/android/gradle/wrapper/*
!/android/gradle/wrapper/gradle-wrapper.jar
!/android/gradle/wrapper/gradle-wrapper.properties
/android/build/
/android/.gradle/
/android/local.properties
/android/keystore.properties
/android/keystores/
